**ids-pdl09-hwk.ipynb**: This Jupyter notebook is provided by Joachim Vogt for the _Python Data Lab_ of the module _Introduction to Data Science_ offered in Fall 2022 at Jacobs University Bremen. Module instructors are Hilke Brockmann, Adalbert Wilhelm, and Joachim Vogt. Jupyter notebooks and other learning resources are available from a dedicated _module platform_.

# Homework assignments: Working with Pandas

The homework assignments in this notebook supplement the tutorial *Working with Pandas*.

- Solve the assignments according to the instructions.
- Upload the completed notebook to the module platform.
- Do not forget to enter your name in the markdown cell below.

The homework set carries a total of 20 points. Square brackets in the assignment titles specify individual point contributions.

## Name: Hikmat Vugarli

---
---

## Preparation

Import NumPy, `pyplot` from matplotlib, and Pandas as usual.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

The following data files are expected to reside in the working directory. Identify the files on the module platform and upload them to the same folder as this Jupyter notebook.

- `gdp-per-capita-in-us-dollar-world-bank.csv`: GDP per capita in constant 2010 US dollars 1960-2020, published by the [World Bank, 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), available from [Our World in Data](https://ourworldindata.org/grapher/gdp-per-capita-in-us-dollar-world-bank).
- `life-expectancy-at-birth-total-years.csv`: Life expectancy at birth 1960-2019, published by the [World Bank, 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), available from [Our World in Data](https://ourworldindata.org/grapher/life-expectancy-at-birth-total-years).
- `leb_gdpint_decade.png`: graphics of a table to be reproduced in the assignment *Pivot tables*.

## Assignment: Hierarchical indexing [5]

According to [Wikipedia (accessed on 2022-07-26)](https://de.wikipedia.org/wiki/Liste_der_Gro%C3%9F-_und_Mittelst%C3%A4dte_in_Deutschland), the resident numbers of Berlin, Cologne, Hamburg, Munich in the years 1980, 2000, 2020/21 were as follows.

| City     | 1980    | 2000    | 2020/21 |
|:---------|:-------:|:-------:|:-------:|
| Berlin   | 3048759 | 3382169 | 3677472 | 	
| Cologne  |  976694 |  962884 | 1073096 |
| Hamburg  | 1645095 | 1715392 | 1853935 |
| Munich   | 1298941 | 1210223 | 1487708 |

In the cell below,

1. store the three sets of resident numbers for the years 1980, 2000, 2020/21 in a single Pandas DataFrame object `ResA` indexed by the city names,
2. apply the function `stack()` to `ResA` and store the result in a Pandas Series object `ResB`,
3. from `ResB` obtain the index (a MultiIndex object) and store it as `IndB`,  
4. using the Pandas function `MultiIndex.from_arrays()`, construct a MultiIndex object `IndC` identical to `IndB`,
5. using the Pandas function `MultiIndex.from_product()`, construct a MultiIndex object `IndD` identical to `IndB`.

In [3]:
def fadd(x,y=1,z=-1):return(x+y+z)
print(fadd(3,z=2))

6

## Assignment: GroupBy mechanism [8]

The file `gdp-per-capita-in-us-dollar-world-bank.csv` contains data on GDP per capita in constant 2010 US dollars 1960-2020, as published by the [World Bank on 2021-07-30](http://data.worldbank.org/data-catalog/world-development-indicators), and made available through [Our World in Data](https://ourworldindata.org/grapher/gdp-per-capita-in-us-dollar-world-bank).

- Click on the filename in the directory listing to display the content of this comma-separated text file to study the structure.
- Consult the associated tutorial notebook `ids-pdl09-tut.ipynb` and study how the data from the file `life-expectancy-at-birth-total-years.csv` are processed.
- The same processing steps are to be applied to the GDP per capita data from the file `gdp-per-capita-in-us-dollar-world-bank.csv`. Details are given below.

Using the Pandas function `read_csv()`, the data are loaded and stored in a DataFrame.

In [12]:
gdp_full = pd.read_csv('gdp-per-capita-in-us-dollar-world-bank.csv')
print(gdp_full)

            Entity Code  Year  GDP per capita (constant 2010 US$)
0      Afghanistan  AFG  2002                          330.303494
1      Afghanistan  AFG  2003                          343.080890
2      Afghanistan  AFG  2004                          333.216617
3      Afghanistan  AFG  2005                          357.234762
4      Afghanistan  AFG  2006                          365.284371
...            ...  ...   ...                                 ...
12147     Zimbabwe  ZWE  2016                         1224.314460
12148     Zimbabwe  ZWE  2017                         1263.278346
12149     Zimbabwe  ZWE  2018                         1289.146499
12150     Zimbabwe  ZWE  2019                         1168.008072
12151     Zimbabwe  ZWE  2020                         1058.845827

[12152 rows x 4 columns]

From the full DataFrame `gdp_full`, remove rows for entities that are not single countries but world regions.

In [9]:

gdp_full.dropna(inplace=True)

gdp_full = gdp_full[gdp_full['Entity']!='World']
print(gdp_full)

            Entity Code  Year  GDP per capita (constant 2010 US$)
0      Afghanistan  AFG  2002                          330.303494
1      Afghanistan  AFG  2003                          343.080890
2      Afghanistan  AFG  2004                          333.216617
3      Afghanistan  AFG  2005                          357.234762
4      Afghanistan  AFG  2006                          365.284371
...            ...  ...   ...                                 ...
12147     Zimbabwe  ZWE  2016                         1224.314460
12148     Zimbabwe  ZWE  2017                         1263.278346
12149     Zimbabwe  ZWE  2018                         1289.146499
12150     Zimbabwe  ZWE  2019                         1168.008072
12151     Zimbabwe  ZWE  2020                         1058.845827

[9525 rows x 4 columns]

Rename the GDP per capita column label to `'GDP/cap.'`.

In [7]:
gdp_full.rename(columns={gdp_full.columns[3]:'GDP/cap.'},inplace=True,errors='raise')
display(gdp_full)

            Entity Code  Year     GDP/cap.
0      Afghanistan  AFG  2002   330.303494
1      Afghanistan  AFG  2003   343.080890
2      Afghanistan  AFG  2004   333.216617
3      Afghanistan  AFG  2005   357.234762
4      Afghanistan  AFG  2006   365.284371
...            ...  ...   ...          ...
12147     Zimbabwe  ZWE  2016  1224.314460
12148     Zimbabwe  ZWE  2017  1263.278346
12149     Zimbabwe  ZWE  2018  1289.146499
12150     Zimbabwe  ZWE  2019  1168.008072
12151     Zimbabwe  ZWE  2020  1058.845827

[9525 rows x 4 columns]

Store the column of GDP per capita values.

In [8]:
gdp_per_capita_values= gdp_full.iloc[:,3].values
print(gdp_per_capita_values)

[ 330.30349444  343.08088973  333.21661712 ... 1289.14649947 1168.0080723
 1058.84582705]

Construct the MultiIndex object from the `'Code'` and `'Year'` columns.

In [9]:
codes = gdp_full['Code'].values
years = gdp_full['Year'].values
mulind = pd.MultiIndex.from_arrays([codes,years])
print(mulind)

MultiIndex([('AFG', 2002),
            ('AFG', 2003),
            ('AFG', 2004),
            ('AFG', 2005),
            ('AFG', 2006),
            ('AFG', 2007),
            ('AFG', 2008),
            ('AFG', 2009),
            ('AFG', 2010),
            ('AFG', 2011),
            ...
            ('ZWE', 2011),
            ('ZWE', 2012),
            ('ZWE', 2013),
            ('ZWE', 2014),
            ('ZWE', 2015),
            ('ZWE', 2016),
            ('ZWE', 2017),
            ('ZWE', 2018),
            ('ZWE', 2019),
            ('ZWE', 2020)],
           length=9525)

Using the array of GDP per capita values with the MultiIndex object as an index, we construct a Series object that is then unstacked to yield a DataFrame in the desired format.

In [10]:
gdp = pd.Series(gdp_per_capita_values,index=mulind).unstack()
display(gdp.head())

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24232.051233,23780.097972,24634.332150,24562.760936,25822.746343,26232.777663,26631.469041,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,528.736683,576.190088,587.565035,583.656018,574.184114,571.075388,571.445241,564.617039,573.287506,549.391787
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3579.960055,3748.451550,3796.881314,3843.198733,3748.320252,3530.310916,3409.927901,3233.903611,3111.157308,2890.892897
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4209.874801,4276.607904,4327.379960,4413.296891,4524.373086,4681.826563,4864.310616,5074.857222,5207.305322,5064.061916
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41191.293558,39769.561458,39145.628207,40914.728524,42150.687509,44109.097620,44433.052190,45132.541432,45959.848264,40402.539837

Rows and columns are swapped through the application of `transpose()`.

In [11]:
display(gdp.transpose().head())

,ABW,AFG,AGO,ALB,AND,ARE,ARG,ARM,ASM,ATG,...,VCT,VEN,VIR,VNM,VUT,WSM,YEM,ZAF,ZMB,ZWE
1960,NaN,NaN,NaN,NaN,NaN,NaN,5642.764587,NaN,NaN,NaN,...,1752.014362,12457.210022,NaN,NaN,NaN,NaN,NaN,4624.077033,1495.703272,994.698381
1961,NaN,NaN,NaN,NaN,NaN,NaN,5853.170781,NaN,NaN,NaN,...,1804.632391,12401.867700,NaN,NaN,NaN,NaN,NaN,4685.490949,1471.244667,1022.764137
1962,NaN,NaN,NaN,NaN,NaN,NaN,5711.182038,NaN,NaN,NaN,...,1847.223030,12992.822489,NaN,NaN,NaN,NaN,NaN,4852.780839,1392.222249,1002.974747
1963,NaN,NaN,NaN,NaN,NaN,NaN,5323.493318,NaN,NaN,NaN,...,1711.726256,13037.601796,NaN,NaN,NaN,NaN,NaN,5081.233260,1395.225016,1030.026148
1964,NaN,NaN,NaN,NaN,NaN,NaN,5772.649438,NaN,NaN,NaN,...,1755.424051,13999.206299,NaN,NaN,NaN,NaN,NaN,5347.340956,1519.023893,984.670135

Apply the `describe()` method to obtain summary statistics of a DataFrame.

In [12]:
display(gdp.describe().transpose().head())

,count,mean,std,min,25%,50%,75%,max
1960,88.0,4801.643199,6785.401022,159.464844,824.158161,1537.227111,4836.714774,33362.707616
1961,91.0,4863.271181,6929.429790,141.035481,827.529125,1568.439374,4837.365113,34079.763858
1962,91.0,5005.345199,7115.342560,132.077606,856.736269,1638.749922,5131.344211,34762.712087
1963,91.0,5155.617404,7273.111372,142.144897,823.585829,1589.296345,5291.232065,34324.439555
1964,91.0,5432.355079,7746.573007,163.028875,812.654352,1615.503211,5492.737711,37201.985776

Apply the GroupBy mechanism to aggregate the GDP per capita data from the DataFrame `gdp_full` in decades, using `min`, `median`, and `max` as aggregation functions.

*Hint*: Consult [section 3.08 Aggregation and Grouping](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html) of the 
[Python Data Science Handbook by Jake Vanderplas](https://jakevdp.github.io/PythonDataScienceHandbook/) for an effective implementation of decade aggregation.

In [14]:
gdp_full.groupby('Year')['GDP/cap.'].aggregate(['min','mean','max']).head()

             min         mean           max
Year
1960  159.464844  4801.643199  33362.707616
1961  141.035481  4863.271181  34079.763858
1962  132.077606  5005.345199  34762.712087
1963  142.144897  5155.617404  34324.439555
1964  163.028875  5432.355079  37201.985776

## Assignment: Pivot tables [7]

The pivot table below shows the median life expectancy at birth in the six decades since 1960 for selected intervals of GDP per capita in 2010 US\$. As before, all statistics are based on the country distributions given in the files `life-expectancy-at-birth-total-years.csv` and `gdp-per-capita-in-us-dollar-world-bank.csv`.

![](leb_gdpint_decade.png)

Follow the instructions below to reproduce this pivot table.

Using the Pandas functions `read_csv()` and `merge()`, join the contents of the files `life-expectancy-at-birth-total-years.csv` and `gdp-per-capita-in-us-dollar-world-bank.csv` to obtain a single Pandas DataFrame object `leb_gdp`. Drop undefined data and world regions, keeping only data from indvidual countries, and rename inconveniently long column labels. See the first session of the Python Data Lab for an implementation of this sequence of operations.

Construct the variable `decade` from the `Year` column of the DataFrame `leb_gdp`.

Using the Pandas function `cut()`, define partitions of the GDP per capita data column in `leb_gdp` into intervals with boundaries `0,300,1000,3000,10000,30000,100000,300000`, and save them in the variable `gdp_partition`.

Call the Pandas function `pivot_table()` on the life expectancy at birth column as key variable, with `decade` and `gdp_partition` as further arguments, and `median` as the aggregation function.

---
---